@import url(https://fonts.googleapis.com/css?family=Syne:regular,500,600,700,800);

@mixin header_def {
  font-family: Syne;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.28px;
  text-transform: uppercase;
}

@mixin heading_def {
  text-align: center;
  font-family: Syne;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.46px;
  text-transform: capitalize;
}

@mixin button {
  border: none;
  background: #fff;
  padding: 10px 50px;
}

@mixin button_white_text {
  border: none;
  background: #fff;
  padding: 10px 50px;
  color: #040404;
  font-family: "DM Sans";

  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.68px;
  text-transform: uppercase;
}

@mixin button_transparent_text {
  border: 1px solid white;
  background: transparent;
  padding: 10px 50px;
  color: #fff;
  font-family: "DM Sans";

  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.68px;
  text-transform: uppercase;
}

@mixin button_black_text {
  border: none;
  background: black;
  padding: 10px 50px;
  color: #fff;
  font-family: "DM Sans";

  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.68px;
  text-transform: uppercase;
}

@mixin description_text {
  color: #737373;
  text-align: center;
  font-family: "DM Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}
