@import "./defaults/mixins.scss";

.fade {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.shop_now {
  @include button;
  background-color: #040404;
  color: #fff;
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.68px;
  text-transform: uppercase;
}

#home {
  display: flex;
  flex-direction: column;
  gap: 150px;
  margin-bottom: 100px;
}

#present_image {
  position: absolute;
  top: 0;
  z-index: -1;
  object-fit: cover;
  height: 80vh;
  width: 100%;
  min-width: 640px;
}

@media screen and (max-width: 640px) {
  #present_image {
    height: 120vh !important;
  }
}

@media screen and (max-width: 850px) {
  #present_image {
    height: 50vh;
  }
}

#present_container {
  height: calc(80vh - 101px);
  display: flex;
  align-items: center;
  justify-content: center;
  #present_title {
    h1 {
      display: block;
      color: white;
      @include heading_def;
    }
    button {
      @include button;
      color: #040404;
      font-family: "DM Sans";
      font-size: 1rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 1.68px;
      text-transform: uppercase;
    }
  }
}

@media screen and (max-width: 640px) {
  #present_container {
    height: calc(120vh - 101px) !important;
  }
}

@media screen and (max-width: 850px) {
  #present_container {
    height: calc(50vh - 101px);
  }
}

.wide_container {
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
}
span {
  display: inline-block;
  * {
    margin: 0;
  }
  h1 {
    @include heading_def;
  }
  p {
    @include description_text;
  }
}
.photo-carousel {
  display: flex;
  gap: 20px;
  padding: 50px 100px;
  align-items: center;
  justify-content: space-between;
  max-width: 1920px;
  margin: auto;
  button {
    @include button;
    padding: 0 20px;
  }
  .photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    img {
      max-width: 100%;
      height: 420px;
      object-fit: cover;
      transition: scale 0.3s ease-in-out;
      &:hover {
        scale: 1.1;
      }
    }
  }
}

#seas_cat_container {
  display: flex;
  height: 780px;
  width: 100%;
  max-width: 1920px;
  flex-direction: row;
  flex-shrink: 0;
  gap: 20px;
  margin: 0 auto;
  div {
    position: relative;
    img {
      position: static;
      z-index: -1;
    }
    .contents {
      position: absolute;
      padding-left: 5vw;
      padding-bottom: 70px;
      bottom: 0;
      left: 0;
      height: fit-content !important;
      color: white; // Change the text color to be visible over the image
      text-align: left; // Center-align the text
      margin: 0; // Remove any default margin
      h2 {
        display: block;
        width: fit-content;
        @include heading_def;
        margin: 5px 0;
      }
    }
  }
  #s_c_big {
    position: relative;
    width: calc(50% - 10px);
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .contents {
      button {
        @include button_white_text;
      }
    }
  }
  #s_c_half {
    width: calc(50% - 10px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    div {
      height: calc(50% - 10px);
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .contents {
      button {
        @include button_transparent_text;
      }
    }
  }
}
