@import url(https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import "./defaults/mixins.scss";

* {
  h1,
  h2,
  h3,
  a,
  li,
  img {
    text-decoration: none;
    user-select: none !important;
  }
}

/* HEADER */

header {
  position: relative;
  z-index: 2;
  width: 100%;
  min-height: 100px;
  background-color: transparent;
  border-bottom: #fff 1px solid;

  #slide_button {
    display: none;
    width: min-content !important;
    z-index: 999;
    .menu {
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: flex;
      padding: 0;
    }
    .line {
      fill: none;
      stroke: black;
      stroke-width: 6;
      transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .line1 {
      stroke-dasharray: 60 207;
      stroke-width: 6;
    }
    .line2 {
      stroke-dasharray: 60 60;
      stroke-width: 6;
    }
    .line3 {
      stroke-dasharray: 60 207;
      stroke-width: 6;
    }
    .opened .line1 {
      stroke-dasharray: 90 207;
      stroke-dashoffset: -134;
      stroke-width: 6;
    }
    .opened .line2 {
      stroke-dasharray: 1 60;
      stroke-dashoffset: -30;
      stroke-width: 6;
    }
    .opened .line3 {
      stroke-dasharray: 90 207;
      stroke-dashoffset: -134;
      stroke-width: 6;
    }
  }

  #slide_menu {
    background-color: #f1e4e1;
    position: fixed;
    top: 0;
    right: 0;
    width: 640px;
    height: 170vh;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    ul {
      display: flex;
      flex-direction: column;
      padding-top: 100px;
      gap: 40px;
      justify-content: start;
      li {
        a {
          color: #000;
        }
        align-items: start;
        font-size: 2rem;
        gap: 20px;
        span {
          svg {
            width: 30px;
            height: auto;
            path {
              fill: #000;
            }
          }
        }
      }
    }
  }

  #inside_header {
    max-width: 1500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 0 50px;
    div {
      width: 33%;
      &:nth-child(1) {
        ul {
          justify-content: left;
        }
      }
      &:nth-child(3) {
        ul {
          justify-content: right;
        }
      }
      &:nth-child(2) {
        h3 {
          color: #fff;
          font-family: DM Sans;
          font-size: 30px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          letter-spacing: 1.8px;
          text-transform: uppercase;
        }
      }
      &:nth-child(4) {
        display: none;
        ul {
          justify-content: right;
          height: auto;
        }
      }
    }
  }

  ul {
    width: 100%;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      @include header_def;
      padding: 0 1vw;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 1200px) {
  header {
    #inside_header {
      justify-content: space-between;
      div {
        &:nth-child(1),
        &:nth-child(3) {
          display: none;
        }
        &:nth-child(2) {
          text-align: left;
        }
        &:nth-child(4) {
          display: none;
          justify-content: right;
          align-items: center;
        }
      }
    }
    #slide_button {
      display: block;
    }
  }
}

/* HEADER-END */

/* FOOTER */

footer {
  height: 400px;
  width: 100%;
  #footer_container {
    margin: 0 auto;
    padding: 0 100px;
    max-width: 2850px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    div {
      width: 24%;
      text-align: left !important;
      &:nth-child(1) {
        display: flex;
        flex-direction: column;
        gap: 20px;
        h3 {
          margin: 0;
          padding: 0;
          font-family: DM Sans;
          font-size: 30px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          letter-spacing: 1.8px;
          text-transform: uppercase;
        }
        p {
          @include description_text;
          text-align: left !important;
        }
        form {
          display: flex;
          flex-direction: row;
          input {
            width: 85%;
            @include description_text;
            text-align: left;
            font-style: italic;
            color: #a9a09e;
            border: 0;
            border-bottom: 1px solid black;
          }
          button {
            width: 15%;
            padding: 0;
            margin: 0;
            border: 0;
            background-color: transparent;
          }
        }
        #social_button {
          display: flex;
          width: 100%;
          align-items: center;
          gap: 30px;
        }
      }
      &:nth-child(2),
      &:nth-child(3) {
        ul {
          margin: 0;
          list-style-type: none;
          li {
            p {
              text-transform: uppercase !important;
              display: inline-block;
              @include heading_def;
              margin: 0 !important;
              padding: 0 !important;
              text-align: left;
              font-size: 1rem;
              letter-spacing: normal;
              &:hover {
                border-bottom: solid 2px #040404;
              }
            }
            h2 {
              @include heading_def;
              margin: 0 !important;
              padding: 0 !important;
              text-align: left;
              font-size: 2rem;
              letter-spacing: normal;
              margin-bottom: 15px !important;
            }
          }
        }
      }
      &:nth-child(4) {
        ul {
          margin: 0;
          list-style-type: none;
          li {
            h2 {
              @include heading_def;
              margin: 0 !important;
              padding: 0 !important;
              text-align: left;
              font-size: 2rem;
              letter-spacing: normal;
              margin-bottom: 15px !important;
            }
            span {
              text-align: left !important;
              @include description_text;
              &:nth-child(3) {
                color: #040404 !important;
                font-weight: 800;
                text-decoration: underline;
                display: inline-block;
                margin-bottom: 10px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  #footer_container {
    padding: 0 20px !important;
    div {
      ul {
        padding: 0;
      }
      &:nth-child(2),
      &:nth-child(3) {
        ul {
          li {
            p {
              &:hover {
                border: solid 2px #040404;
              }
            }
          }
        }
      }
    }
  }
}
/* FOOTER-END */
