@import "./defaults/mixins.scss";

.line {
  width: 100%;
  border-top: 1px solid #ddd3d1;
}

#item_con {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#item_container {
  margin: 0 auto;
  padding: 150px 100px;
  width: calc(100% - 200px);
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  #item_details_container {
    width: 100%;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    ul {
      justify-content: center;
      display: flex;
      flex-direction: row;
      gap: 60px;
      list-style-type: none;
      margin-bottom: 20px;
      border-bottom: 1px solid #ddd3d1;
      h2 {
        @include heading_def;
        font-size: 1.8rem;
        letter-spacing: normal;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    p {
      margin: 0;
      @include description_text;
      text-align: left !important;
    }
    #para_list {
      display: block;
      list-style-type: disc;
      text-align: left;
      margin: 0;
      border: 0;
      li {
        @include description_text;
        text-align: left !important;
      }
    }
  }
}
