@import "./defaults/mixins.scss";

.line {
  width: 100%;
  border-top: 1px solid #ddd3d1;
}

#item_container {
  background-color: #f3eeed;
  margin: 0 auto;
  padding: 150px 100px;
  width: calc(100% - 200px);
  max-width: 1920px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  #image_column {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 8%;
    img {
      cursor: pointer;
      height: 160px;
      object-fit: cover;
    }
  }
  #active_image {
    width: 37%;
  }
  #item_description {
    text-align: left;

    width: calc(52% - 40px);
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    .item_title_rating {
      display: inline-block;
      text-align: left;
      h2 {
        @include heading_def;
        font-size: 2rem;
        text-align: left;
        margin: 0;
      }
    }
    .item_price {
      p {
        margin: 0;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        span {
          &:nth-child(1) {
            color: #ec6c5a;
            font-family: "DM Sans";
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.64px;
          }
          &:nth-child(2) {
            color: #bab3b1;
            font-family: "DM Sans";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.4px;
            text-decoration-line: strikethrough;
          }
        }
      }
    }
    .item_text {
      p {
        @include description_text;
        text-align: left;
      }
    }
    .item_choice {
      user-select: none;

      display: flex;
      flex-direction: column;
      gap: 20px;
      h2 {
        margin: 0;
        @include heading_def;
        text-decoration: underline;
        letter-spacing: normal;
        font-size: 1.6rem;
        text-align: left;
      }
      p {
        margin: 0;
        @include description_text;
        text-align: left;
        display: flex;
        flex-direction: row;
        gap: 20px;
        span {
          cursor: pointer;
          &:hover {
            text-decoration: underline;
            color: #040404;
          }
        }
      }
    }
    .add_to_cart {
      p {
        @include description_text;
        color: #000;
        text-align: left;
      }
      .cart_buttons {
        display: flex;
        flex-direction: row;
        gap: 20px;

        div {
          button,
          input {
            margin: 0;
            padding: 0;
            border: none;
            width: 40px;
            height: 40px;
            text-align: center;
          }
          button {
            color: #000;
            background-color: #e5d8d5;
            &:hover {
              background: #f6ecea;
            }
          }
          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            /* display: none; <- Crashes Chrome on hover */
            -webkit-appearance: none;
            margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
          }
        }
        button {
          @include button_black_text;
          &:nth-child(3) {
            padding: 5px 10px;
            text-align: center;
          }
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    .item_backend {
      p {
        text-align: left !important;
        @include description_text;
        span {
          &:nth-child(1) {
            font-weight: 700;
            color: #000;
          }
        }
      }
    }
  }
  #item_details_container {
    width: 100%;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    ul {
      justify-content: center;
      display: flex;
      flex-direction: row;
      gap: 60px;
      list-style-type: none;
      margin-bottom: 20px;
      border-bottom: 1px solid #ddd3d1;
    }
    p {
      margin: 0;
      @include description_text;
      text-align: left !important;

      ul {
        display: block;
        list-style-type: disc;
        text-align: left;
        margin: 0;
        border: 0;
      }
    }
  }
}
